node_modules

# Environment variables
.env

# Firebase service account
config/**/*.json


config/firebase/appnet-bf43f-0e1e012de7f5.json

# Build folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE / Editor
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional: OS temp files
*.swp
*.swo
